body {
    margin: 0;
    padding-top: 0;
    font-family: 'Lato', sans-serif;
}

header {
    display: flex;
    background-color: dodgerblue;
    padding: 0 2rem;
}

.acme-logo {
    flex: 2;
    color: white;
    position: relative;
    font-size: 36px;
    line-height: 100%;
    text-decoration: none;
    font-weight: bold;
}

h2{
    color: gray;
    padding: 0 30px;
}

.menu {
    display: flex;
    flex: 1;
    justify-content: flex-end; 
    padding-left: 20%;   
}

.nav-item {
    margin: auto;
    flex: 3;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.menu a:hover{
    cursor: pointer;
    font-size: 24px;
    font-weight: 700;
    transition: all 150ms ease-in-out;
}

nav div:first-child {
    font-weight: bold;
}

.create-user {
    display: flex;
    margin: auto;
    height: 300px;
    max-width: 600px;
    border: solid 1px gray;
    border-radius: 8px;
    padding-left: 15px;
}

form {
    margin: auto;
}

.create-user h2 {
    text-align: center;
}

.create-user-form {
    padding: 5px 15px;
    margin-bottom: 15px;
}

.create-user-form #first {
    margin-left: 40px;
    padding-right: 250px;
    padding-top: 5px;
    
}

.create-user-form #last {
    margin-left: 43px;
    padding-right: 250px;
    padding-top: 5px;
}

.create-user-form select {
    margin-left: 32px;
    padding-right: 300px;
    padding-top: 5px;
    margin-bottom: 5px;
}

.btn{
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 25px;
}

button {
    padding: 8px 25px;
}

#save-btn {
    background-color: dodgerblue;
    color:white;
    border: solid 1px black;
    border-radius: 4px;
}

#save-btn:hover {
    background-color: white;
    border: solid 2px dodgerblue;
    color: dodgerblue;
    font-weight: 700;
    padding: 12px 30px;
}

#clear-btn {
    border: solid 1px black;
    border-radius: 4px;
}

#clear-btn:hover {
    background-color: black;
    border: solid 2px dodgerblue;
    color: white;
    font-weight: 700;
    padding: 12px 30px;
}


.user-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15px;
}

.user-card {
   border: solid 1px black;
   border-radius: 8px;
   flex: 0 0 30%;
   margin: 15px 15px; 
   width: 100px;
   text-align: center;
   padding-bottom: 15px;
}

.user-card h3 {
    text-align: center;
    color: gray;
    
}

@media (max-width: 800px) {

    header{
        flex-direction: column;
        flex-wrap: wrap;
     }
    .acme-logo {
        flex: 0;
        font-size: 22px;
     }

     .menu{
        flex: 0;
     }
    .create-user {
        max-width: 400px;
        height: auto;
    }

    .create-user-form #first {
        margin-left: 10px;
        padding-right: 25px;  
    }
    
    .create-user-form #last {
        margin-left: 12px;
        padding-right: 25px;
    }
    
    .create-user-form select {
        margin-left: 12px;
        padding-right: 68px;
    }

    .user-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .user-card {
        flex-basis: 84%
    }


}

@media (max-width: 500px){
 header{
    flex-wrap: wrap;
 }

 .acme-logo {
    font-size: 22px;
 }

 .menu {
    position: relative;
    right: 75px;
    line-height: 130%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start; 
 }

}